.error {
    border: crimson 2px solid;
}

.errorMessage {
    color: crimson;
}
.activeFilter {
    background-color: #14bc83;
    border-radius: 2px;
}
.isDone {
    opacity: 0.5;
}
.btn :hover {
    cursor: pointer;
}